.erroe-404 {
    @include adaptive-value("padding-top", 200, 150, 1);
    min-height: 60vh;

    h1 {
        @include adaptive-value("font-size", 250, 50, 1);
        color: #fff;
        text-align: center;
        span {
            display: block;
            margin-top: 0.5em;
            @include adaptive-value("font-size", 40, 20, 1);
        }
    }

    // .erroe-404__container

    &__container {
    }

    // .erroe-404__body

    &__body {
    }
}
