html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    font-family: "BlackerSansPro";
    line-height: 1.2;

    &._noscroll {
        overflow: hidden;
    }

    &::-webkit-scrollbar {
    }

    &::-webkit-scrollbar-thumb {
    }
}

.wrapper {
    min-height: 100%;
    scroll-behavior: smooth;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

._container {
    width: 100%;
    margin-inline: auto;
    max-width: $container + px;

    @media (max-width: $containerWithPadding + px) {
        max-width: none;
        padding-inline: $padding + px;
    }
}

._container-big {
    width: 100%;
    margin-inline: auto;
    max-width: $containerBig + px;

    @media (max-width: $containerWithPaddingBig + px) {
        max-width: none;
        padding-inline: $padding + px;
    }
}

section {
    @include adaptive-value("margin-bottom", 120, 80, 1);
}

h1,
h2 {
    font-family: "AvantGardeGothicCTT";
}

h1 {
}

h2 {
    @include adaptive-value("font-size", 40, 24, 1);
    text-transform: uppercase;

    span {
        color: $basic;
    }

    label {
        color: $accent;
    }
}

h3 {
}

.slider-buttons {
    button {
        img,
        svg {
        }
    }
}

img,
svg {
    display: block;
}

._main-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent;
    color: #fff;
    padding: 20px 40px;
    border-radius: 100px;
    width: fit-content;
    font-size: 16px;

    span {
    }

    svg {
        width: 12px;
        height: 12px;
        stroke: currentColor;
        margin-left: 0.75em;
    }

    &._section-btn {
        @include adaptive-value("margin-top", 60, 30, 1);
        margin-inline: auto;
    }
}

._section-top {
    @include adaptive-value("margin-bottom", 60, 30, 1);

    h2 {
        text-align: center;
    }

    p {
        @include adaptive-value("font-size", 20, 14, 1);
        font-weight: 300;
        margin-top: 1.25em;
        text-align: center;
    }

    .lines {
        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: 300;
        @include adaptive-value("font-size", 18, 12, 1);
        margin-bottom: 1.1em;

        &:before,
        &:after {
            content: "";
            height: 1px;
            width: 27px;
            background-color: rgba($color: $font, $alpha: 0.7);
        }

        &:before {
            margin-right: 1.2em;
        }

        &:after {
            margin-left: 1.2em;
        }
    }
}

ol._marker {
    list-style: circle;
    list-style-type: circle;

    li {
        display: flex;

        &:before {
            display: block;
            content: "â—";
            font-size: 0.3em;
            margin: 1em 1em 0 1em;
        }
    }
}

.important {
    position: relative;
    background-color: $gray;
    padding: 45px 35px 40px 35px;

    @media (min-width: 769px) {
        display: flex;
        justify-content: space-between;

        & > :not(:last-child) {
            margin-right: 20px;
        }
    }

    @include adaptive-value("border-radius", 20, 10, 1);
    @include adaptive-value("margin-top", 60, 45, 1);

    @media (max-width: 768px) {
        padding: 32px 18px 24px 18px;

        & > :not(:last-child) {
            margin-bottom: 18px;
        }
    }

    label {
        position: absolute;
        top: 0;
        transform: translate(0, -50%);

        color: $white;
        font-weight: 300;

        @include adaptive-value("font-size", 18, 14, 1);

        padding: 0.45em 0.9em;
        background-color: $basic;
        border-radius: 100px;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            fill: currentColor;
            margin-right: 4px;

            width: 0.8em;
            height: 0.8em;
        }
    }
}
