html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    font-family: "BlackerSansPro";
    line-height: 1.2;
    color: $font;

    &._noscroll {
        overflow: hidden;
    }

    &::-webkit-scrollbar {
    }

    &::-webkit-scrollbar-thumb {
    }
}

.wrapper {
    min-height: 100%;
    scroll-behavior: smooth;
    overflow-x: clip;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

._container {
    width: 100%;
    margin-inline: auto;
    max-width: $container + px;

    @media (max-width: $containerWithPadding + px) {
        max-width: none;
        padding-inline: $padding + px;
    }
}

._container-big {
    width: 100%;
    margin-inline: auto;
    max-width: $containerBig + px;

    @media (max-width: $containerWithPaddingBig + px) {
        max-width: none;
        padding-inline: $padding + px;
    }
}

section {
    &:not(:last-of-type) {
        @include adaptive-value("margin-bottom", 120, 80, 1);
    }
}

h1,
h2 {
    font-family: "AvantGardeGothicCTT";
}

h1 {
}

h2 {
    @include adaptive-value("font-size", 40, 24, 1);
    text-transform: uppercase;

    span {
        color: $basic;
    }

    label {
        color: $accent;
    }
}

a {
    color: inherit;
}

.slider-buttons {
    button {
        img,
        svg {
        }
    }
}

img,
svg {
    display: block;
}

._main-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent;
    color: $white;
    padding: 20px 40px;
    border-radius: 100px;
    width: fit-content;
    font-size: 16px;

    span {
    }

    svg {
        width: 12px;
        height: 12px;
        stroke: currentColor;
        margin-left: 0.75em;
    }

    &._section-btn {
        @include adaptive-value("margin-top", 60, 30, 1);
        margin-inline: auto;
    }

    &._white {
        background-color: $white;
        color: $accent;
    }
}

._section-top {
    @include adaptive-value("margin-bottom", 60, 30, 1);

    h2 {
        text-align: center;
    }

    p {
        @include adaptive-value("font-size", 20, 14, 1);
        font-weight: 300;
        margin-top: 1.25em;
        text-align: center;
    }

    .lines {
        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: 300;
        @include adaptive-value("font-size", 18, 12, 1);
        margin-bottom: 1.1em;

        &:before,
        &:after {
            content: "";
            height: 1px;
            width: 27px;
            background-color: rgba($color: $font, $alpha: 0.7);
        }

        &:before {
            margin-right: 1.2em;
        }

        &:after {
            margin-left: 1.2em;
        }
    }
}

ol._marker {
    list-style: circle;
    list-style-type: circle;

    li {
        display: flex;

        &:before {
            display: block;
            content: "â—";
            font-size: 0.3em;
            margin: 1em 1em 0 1em;
        }
    }
}

.important {
    position: relative;
    background-color: $gray;
    padding: 45px 35px 40px 35px;

    @media (min-width: 769px) {
        display: flex;
        justify-content: space-between;

        & > :not(:last-child) {
            margin-right: 20px;
        }
    }

    @include adaptive-value("border-radius", 20, 10, 1);
    @include adaptive-value("margin-top", 60, 45, 1);

    @media (max-width: 768px) {
        padding: 32px 18px 24px 18px;

        & > :not(:last-child) {
            margin-bottom: 18px;
        }
    }

    label {
        position: absolute;
        top: 0;
        transform: translate(0, -50%);

        color: $white;
        font-weight: 300;

        @include adaptive-value("font-size", 18, 14, 1);

        padding: 0.45em 0.9em;
        background-color: $basic;
        border-radius: 100px;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            fill: currentColor;
            margin-right: 4px;

            width: 0.8em;
            height: 0.8em;
        }
    }
}

table,
thead,
tbody,
tr,
td {
    display: block;
}

._side-fixed {
    &[data-position="right"] {
        right: 0;

        ._side-fixed__container {
            transform: translate3d(101%, 0, 0);
            margin: 0 0 0 auto;
        }
    }
    &[data-position="left"] {
        left: 0;

        ._side-fixed__container {
            transform: translate3d(-101%, 0, 0);
            margin: 0 auto 0 0;
        }
    }

    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 15;

    background-color: rgba($color: #000000, $alpha: 0.8);

    transition: all 0.3s ease 0s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    &._active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;

        ._side-fixed__container {
            transform: translate3d(0, 0, 0);
        }
    }

    // ._side-fixed__container

    &__container {
        background-color: #fff;
        overflow-y: auto;
        height: 100%;
        width: 340px;
        transition: all 0.3s ease 0s;

        @media (max-width: 500px) {
            width: 100%;
        }
    }

    // ._side-fixed__body

    &__body {
        padding: 30px 15px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 15px;
        margin-bottom: 15px;

        ._side-fixed__close {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;

            svg {
                width: 1em;
                height: 1em;
                margin-right: 0.5em;
            }
        }
    }

    // ._side-fixed__close

    &__close {
        display: block;

        svg {
            pointer-events: none;
            stroke: $font;
            width: 20px;
            height: 20px;
        }
    }
}
