.form {
    margin-top: 30px;

    & > :not(:last-child) {
        margin-bottom: 20px;
    }

    button,
    input {
        &:not([type="checkbox"]) {
            @include adaptive-value("font-size", 16, 14, 1);
            @include adaptive-value("height", 59, 55, 1);
            font-weight: 300;

            border-radius: 100px;
            width: 100%;
        }
    }

    input {
        &:not([type="checkbox"]),
        &:not([type="submit"]) {
            padding: 0 15px 0 21px;
            background-color: $gray;
            color: $font;
        }
    }

    button,
    input[type="submit"] {
        padding: 0 15px;
        background-color: $accent;
        color: $white;
        display: block;
        width: 100%;
    }

    span {
        display: flex;

        @media (max-width: 768px) {
            margin-bottom: 20px;
        }

        input[type="checkbox"] {
            width: 16px;
            height: 16px;
            margin-right: 8px;
            flex: 0 0 auto;
            border: 2px solid $gray;
            cursor: pointer;
        }

        label {
            font-weight: 300;
            color: $font;
            cursor: pointer;

            @include adaptive-value("font-size", 14, 12, 1);

            a {
                color: $accent;
                text-decoration: underline;
            }
        }
    }
}
