$container: 1160;
$containerBig: 1440;
$padding: 15;

$containerWithPadding: $container + ($padding * 2);
$containerWithPaddingBig: $containerBig + ($padding * 2);


$accent: #456039;
$font: #122507;
$basic: #7EAA6D;
$gray: #F6F6F6;
$white: #ffffff;