.upgrade {
    // .upgrade__container

    &__container {
    }

    // .upgrade__body

    &__body {
    }

    // .upgrade__image

    &__image {
        position: relative;
        @include adaptive-value("margin-bottom", 60, 36, 1);

        span {
            text-transform: uppercase;
            @include adaptive-value("font-size", 28, 20, 1);
            color: $white;
            position: absolute;
            z-index: 1;

            @include adaptive-value("left", 35, 23, 1);
            @include adaptive-value("bottom", 29, 23, 1);
        }

        img {
            width: 100%;
        }
    }

    // .upgrade__columns

    &__columns {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        & > :not(:last-child) {
            margin-right: 40px;

            @media (max-width: 1024px) {
                margin-right: 20px;
            }

            @media (max-width: 768px) {
                margin-right: auto;
                margin-bottom: 36px;
            }
        }

        @media (max-width: 768px) {
            display: block;
        }

        // .upgrade__columns-item

        &-item {
            border-radius: 30px;
            width: 100%;
            max-width: 360px;
            padding: 10px;

            @media (max-width: 768px) {
                margin-inline: auto;
            }

            .title {
                color: $white;
                font-size: 20px;
                border: 1px solid currentColor;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;

                border-radius: 100px;
                @include adaptive-value("height", 52, 49, 1);
                @include adaptive-value("margin-bottom", 60, 48, 1);

                svg {
                    max-width: 1.6em;
                    height: 1em;
                    margin-right: 0.6em;

                    fill: currentColor;
                }
            }

            .vitamin {
                color: $white;
                font-size: 16px;
                text-align: center;
                border-radius: 100px;
                padding: 10px 24px;
                margin-top: 24px;
                display: block;
                width: fit-content;
                font-weight: 300;

                &.basic {
                    background-color: $basic;
                }

                &.accent {
                    background-color: $accent;
                }

                &.font {
                    background-color: $font;
                }
            }

            ol {
                & > :not(:last-child) {
                    margin-bottom: 48px;
                }

                li {
                    padding: 24px 28px 28px 28px;
                    border-radius: 20px;
                    background-color: $gray;
                    position: relative;

                    img {
                        position: absolute;
                        top: 0;
                        right: 28px;
                        transform: translate(0, -50%);

                        width: 74px;
                        height: 74px;
                    }

                    p {
                        font-weight: 300;
                        @include adaptive-value("font-size", 16, 14, 1);

                        strong {
                            display: block;
                            font-weight: 400;
                            font-size: 20px !important;
                            margin-bottom: 8px;
                        }
                    }
                }
            }
        }

        // .upgrade__columns-morning

        &-morning {
            background-color: #9fcf8c;
        }

        // .upgrade__columns-day

        &-day {
            background-color: $basic;
        }

        // .upgrade__columns-evening

        &-evening {
            background-color: $accent;
        }
    }
}
