@font-face {
	font-family: AvantGardeGothicCTT;
	font-display: swap;
	src: url("../fonts/AvantGardeGothicCTT.woff2") format("woff2"), url("../fonts/AvantGardeGothicCTT.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: BlackerSansPro;
	font-display: swap;
	src: url("../fonts/BlackerSansPro-Bold.woff2") format("woff2"), url("../fonts/BlackerSansPro-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: BlackerSansPro;
	font-display: swap;
	src: url("../fonts/BlackerSansPro-Light.woff2") format("woff2"), url("../fonts/BlackerSansPro-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: BlackerSansPro;
	font-display: swap;
	src: url("../fonts/BlackerSansPro-Book.woff2") format("woff2"), url("../fonts/BlackerSansPro-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: BlackerSansPro;
	font-display: swap;
	src: url("../fonts/BlackerSansPro-Medium.woff2") format("woff2"), url("../fonts/BlackerSansPro-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: BlackerSansPro;
	font-display: swap;
	src: url("../fonts/BlackerSansPro-Regular.woff2") format("woff2"), url("../fonts/BlackerSansPro-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Garamond;
	font-display: swap;
	src: url("../fonts/Garamond.woff2") format("woff2"), url("../fonts/Garamond.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
